<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/verify.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Tasks</title>
</head>
<body>
    <nav id="navbar">
        <h1><a href="/tasks">Tasks</a></h1>
        <ul>
            <li><a href="/tasks">tasks</a></li>
            <li><a href="/tasks/add">Criar</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>